<!-- Everything hard-coded and, therefore, not very flexible. -->

<!-- <p>
  <strong>Home Country:</strong> <%#= home_country %><br>
</p>
<p>
  <strong>Quote:</strong> <%#= quote %><br>
</p>
<p>
  <strong>Claim To Fame:</strong> <%#= claim_to_fame %><br>
</p>
<p>
  <strong>Birth Date:</strong> <%#= birth_date %>
</p> -->


<!-- This is better... -->

<p>
  <strong><%= title.titleize %>:</strong> <%= value %>
</p>
