
<p>
  <strong>Name:</strong> <%= attributes["name"] %>
</p>

<p>
  <strong>Home Country:</strong> <%= attributes["home_country"] %>
</p>

<p>
  <strong>Quote:</strong> <%= attributes["quote"] %>
</p>

<p>
  <strong>Claim to fame:</strong> <%= attributes["claim_to_fame"] %>
</p>


  