<p>
<strong>Home Country:</strong> <%= @programmer.home_country %><br>
<strong>Quote:</strong> <%= @programmer.quote %><br>
<strong>Claim To Fame:</strong> <%= @programmer.claim_to_fame %>
<%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
</p>
