<p><strong> Home Country: </strong><%= programmer.home_country.titlecase %></p> 
<br>
<p><strong> Quote: </strong><%= programmer.quote.titlecase %></p>
<br>
<p><strong> Claim to fame: </strong><%= programmer.claim_to_fame.titlecase %></p>