    <p>
    <strong>Home Country:</strong> <%= home_country %><br>
    </p>

    <p>
    <strong>Quote:</strong> <%= quote %><br>
    </p>

    <p>
    <strong>Claim To Fame:</strong> <%= claim_to_fame %>
    </p>

    <p>
    <%= link_to "Learn more about #{ name }", wikipedia_page, target: '_blank' %>
    </p>