<h1>Our Favorite Programmers</h1>

<ul class="list-group">
  <%= render @programmers %> <!-- Equivalent to rendering _programmer w/ @programmers as the collection, thus the partial can remove the intial loop -->
</ul>
