<h1>Our Favorite Programmers</h1>

<ul class="list-group">
<%= render partial: "programmer", collection: @programmers %><%#http://guides.rubyonrails.org/layouts_and_rendering.html, keyword: "collection"%>
  <%= render @programmers %><%#http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials, keyword "shorthand"%>
  <p class="list-group-item programmer-item">
    <%= render "programmer" %>
  </p>
  <% end %>
</ul>
