<h1>Our Favorite Programmers</h1>

<ul class="list-group">
  <%= render @programmers %>

   <%= link_to programmer_path(@programmer) do %>
  <p class="list-group-item programmer-item">
  <%= render :partial =>'programmer', {:locals => {:programmer => @programmer}} %>
  </p>
</ul>
