<h1>Our Favorite Programmers</h1>

<ul class="list-group">

<%= render @programmers %>

<%#can also be done like below%>
<%#= render @programmers || "There are currently no famous programmers populated in the system"%>
<%#= render :partial => "programmer", :collection => @programmers || "There are currently no famous programmers populated in the system"%>
</ul>
