<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>
<h3>
</h3>

<div class="row jumbotron">

  <div class="col-md-3">
    <%= render partial: 'programmer', locals: {programmer: @programmer} %>
  </div>

  <div class="col-md-9 programmer-info">
  <% @programmer.locals_hash.each do |key, value| %>
    <%= render partial: 'attribute', locals: {key: key, value: value} %>
  <% end %>
    <p>
    <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
    </p>

  </div>
</div>
