<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<%= render partial: @programmer, local: {programmer: @programmer} %>

<div class="row jumbotron">

  <div class="col-md-3">
    <%= image_tag @programmer.image, height: '250px', class:"profile-image" %>
  </div>

 <%= render @attribute , :collection => 'programmers', :locals => {:home_country => @home_country, :quote => @quote, name: => @name, claim_to_fame: => @claim_to_fame, wikipedia_page: => @wikipedia_page} %>
</div>

