  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-brand">
      Programmers We L<span class="glyphicon glyphicon-heart"></span>ve
      <%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>
    </div>
  </nav>